@import "tailwindcss";
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  background:#050505;
  color:white;
  font-family:Arial,sans-serif;
}
.gold{
  color:#d4a64a;
}
.gold-bg{
  background:#d4a64a;
}
.glass{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(16px);
  border:1 px solid rgba(255,255,255,0.12);
}

@keyframes glowPulse {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 5px rgba(255,215,0,0.4));
  }

  50% {
    transform: scale(1.05);
    filter: drop-shadow(0 0 30px rgba(255,215,0,0.9));
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 5px rgba(255,215,0,0.4));
  }
}

.logo-animation {
  animation: glowPulse 4s ease-in-out infinite;
}

.logo-container {
  position: relative;
  overflow: hidden;
}

.logo-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.4),
    transparent
  );
  animation: shine 4s infinite;
}

@keyframes shine {
  100% {
    left: 150%;
  }
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}